body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkoutForm {
  margin-left: 20px;
}
​ .longForm {
  width: 250px;
}
​ #checkoutSubmitBtn {
  font-size: 18px;
  color: white;
  background-color: #e10b7e;
  border-radius: 25px;
  width: 220px;
}
